@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Playfair&display=swap");

html {
	box-sizing: border-box;
	font-family: "Playfair", serif;
  font-size: 20px;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Kanit", sans-serif;
}

.first {
	padding: 1rem;
}

#first-header {
	text-align: center;
	background-color: blueviolet;
  position: relative;
}

article + article,
section + section {
  margin-top: 2.5rem;
}

nav a {
  display: inline-block;
  margin: 1rem 2.5rem;
  color: black;
}

nav a:hover {
  cursor: pointer;
  font-size: 1.1rem;
  color: rgb(113, 17, 17);
}

nav a:active {
  color: green;
}

article + article, footer {
  border-top: solid 0.1rem black;
}

::selection {
  background-color: rgb(95, 18, 167);
  color: rgb(252, 246, 246);
}

.cat::after {
  content: "😸";
}

.inline {
  display: inline;
}

article {
  position: relative;
}

h2 {
  position: relative;
  left: 0.5rem;
}

.hire {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 0.5rem 0 0; 
}

#header-main {
  font-size: 3.5rem;
}

#conny {
  font-size: 1em;
}

.cat {
  font-size: 0.25em;
}

#main-width {
  max-width: 75ch;
}