@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Playfair&display=swap");

html {
	box-sizing: border-box;
	font-family: "Playfair", serif;
  font-size: 20px;
}

body {
	margin: 0;
  --background: linear-gradient(blueviolet 0%, pink 100%);
  --text-color: black;
  --hover-color: rgb(113, 17, 17);
  --active-color: green;
  --select-color: rgb(252, 246, 246);
  --focus-bgc: rgb(171, 171, 235);
  --page-background-color: white;
  --page-text-color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Kanit", sans-serif;
}

.first {
	padding: 1rem;
}

.background {
  background-image: var(--background);
}

#first-header {
	text-align: center;
  position: relative;
}

.first-header:hover .hire {
  transform: scale(1.5);
}

article + article,
section + section {
  margin-top: 2.5rem;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  margin: 1rem 2.5rem;
  color: var(--text-color);
  transition: font-size 0.5s, background-color 0.6s;
}

nav a:hover {
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--hover-color);
}

nav a:active {
  color: var(--active-color);
}

nav a:focus {
  background-color: var(--focus-bgc);
}

article + article, footer {
  border-top: solid 0.1rem var(--text-color);
}

::selection {
  background-color: var(--background);
  color: var(--select-color);
}

.cat::after {
  content: "😸";
}

article {
  position: relative;
}

section header {
  display: flex;
  flex-direction: column;
}

h2 {
  position: relative;
  left: 0.5rem;
}

.hire {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 0.5rem 0 0; 
}

#header-main {
  font-size: 3.5rem;
}

#conny {
  font-size: 1em;
}

.cat {
  font-size: 0.25em;
}

#main-width {
  max-width: 75ch;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 22px;
  }

  nav {
    flex-direction: row;
  }

  .hire {
    position: fixed;
    top: 0;
    right: 0;
  }

  article {
    margin-top: 3rem;
  }

  section header {
    flex-direction: row;
  }

  section header p {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 25px
  };

  .hire {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  article {
    margin-top: 3.5rem;
  }
}

@media print {
  .hire {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
}