@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Playfair&display=swap");

html {
	box-sizing: border-box;
	font-family: "Playfair", serif;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Kanit", sans-serif;
}

.first {
	padding: 16px;
}

#first-header {
	text-align: center;
	background-color: blueviolet;
}

article + article,
section + section {
  margin-top: 50px;
}

nav a {
  margin: 70px 50px;
  color: black;
}

nav a:hover {
  cursor: pointer;
  font-size: 110%;
  color: rgb(113, 17, 17);
}

nav a:active {
  color: green;
}

article + article, footer {
  border-top: solid 2px black;
}

::selection {
  background-color: rgb(95, 18, 167);
  color: rgb(252, 246, 246);
}

.cat::after {
  content: "😸";
}